@charset "utf-8";

// ===================================================
// レイアウト関係のスタイル
// ===================================================


/*----------------------------------------------------
	#contents
----------------------------------------------------*/
.l-contents {
	word-break: normal;
	word-wrap: break-word;
}

/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
.l-header {
	width: 100%;
	padding: 20px 0;
	margin-bottom: 40px;
	background: $main_color;
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo{
		font-size:3rem;
		a{
			color: #fff;
		}
	}
	&__login{
		margin-left: 30px;
		button{
			border: none;
			color: #fff;
		}
	}
	&__logout{
		display: flex;
		align-items: center;
		margin-left: 20px;
	}
	&__menu{
		display: flex;
		align-items: center;
	}
	&__name{
		color: #fff;
		display: block;
		margin-left: 20px;
		margin-right: 20px;
	}
	&__account_info{
		display: flex;
		align-items: center;
	}
}

/*----------------------------------------------------
	#main
----------------------------------------------------*/
.l-main {
	line-height: 180%;
	table, ol, ul, dl, blockquote, pre, p {
		margin-bottom: $base_margin_bottom;
	}
	h1{
		font-size: 2.8rem;
		margin-bottom: 50px;
		position: relative;
		color:$main_color;
	}
	h2{
		margin-bottom: 30px;
		position: relative;
		padding-top: 10px;
		&::before{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 50px;
			height: 3px;
			background: $main_color;
		}
	}
}

/*----------------------------------------------------
	#side
----------------------------------------------------*/
.l-side {

}

/*-----------------------------------------------------
	フッター
-----------------------------------------------------*/

.l-footer {
	padding: 30px;
	&__copyright{
		text-align: center;
	}
}


/* スマホ
-------------------------------------------------- */
@media only screen and (max-width:$screen-xs-max) {
  
}
/* タブレット
-------------------------------------------------- */
@media only screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {

}
/* PC(small)
-------------------------------------------------- */
@media only screen and (min-width:$screen-md-min) and (max-width:$screen-md-max) {

}
/* PC(large)
-------------------------------------------------- */
@media only screen and (min-width:$screen-lg-min) {

}