@charset "utf-8";

// ===================================================
// レイアウト関係のスタイル
// ===================================================


/*----------------------------------------------------
	#contents
----------------------------------------------------*/
.l-contents {
	word-break: normal;
	word-wrap: break-word;
}

/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
.l-header {
	width: 100%;
	padding: 20px 0;
	background: $main_color;
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo{
		font-size:3rem;
		a{
			color: #fff;
		}
	}
	&__login{
		a{
			color: #fff;
		}
	}
	&__menu{
		display: flex;
		align-items: center;
	}
	&__name{
		color: #fff;
		display: block;
		margin-left: 20px;
	}
}

/*----------------------------------------------------
	#main
----------------------------------------------------*/
.l-main {
	line-height: 180%;
	table, ol, ul, dl, blockquote, pre, p {
		margin-bottom: $base_margin_bottom;
	}
}

/*----------------------------------------------------
	#side
----------------------------------------------------*/
.l-side {

}

/*-----------------------------------------------------
	フッター
-----------------------------------------------------*/

.l-footer {
	width: 100%;
	padding: 30px;
	background: #999;
	&__copyright{
		text-align: center;
	}
}


/* スマホ
-------------------------------------------------- */
@media only screen and (max-width:$screen-xs-max) {
  
}
/* タブレット
-------------------------------------------------- */
@media only screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {

}
/* PC(small)
-------------------------------------------------- */
@media only screen and (min-width:$screen-md-min) and (max-width:$screen-md-max) {

}
/* PC(large)
-------------------------------------------------- */
@media only screen and (min-width:$screen-lg-min) {

}