@charset "utf-8";


.p-index{
  max-width: 800px;
  margin:0 auto;
  .p-index_user_list{
    li{
      border: 1px solid #ddd;
      background: #fff;
      margin-bottom: 30px;
      position: relative;
      box-shadow:0px 6px 7px 2px #f2f2f2;
      a{
        display: block;
        font-size:1.6rem;
        padding: 20px;
        transition: all 0.3s ease-in-out;
        &:hover{
          background: #eee;
        }
      }
      i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        color:$main_color;
        font-size:2.4rem;
      }
    }
  }
}


@media only screen and (max-width:$screen-xs-max) {
  .p-index{

  }
}