@charset "utf-8";

.p-login{
  width: 500px;
  height: 70vh;
  margin:0 auto;
  position: relative;
  &__inner{
    background: #fff;
    border: 1px solid #ddd;
    @include centering(ture,ture);
    width: 100%;
  }
  &__tab{
    display: flex;
    li{
      padding: 20px;
      text-align: center;
      width: 50%;
      background: #f5f5f5;
      &.is-act{
        background: #fff;
      }
    }
  }
  &__panel{
    padding: 30px;
    background: #fff;
    table{
      th,td{
        border: none;
        vertical-align: middle;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      input{
        width: 100%;
      }
    }
  }
  .c-btn01{
    margin-top: 30px;
  }
}